<nav id="main-nav-wrap">
  <ul class="main-navigation">
    <li class="current">
      <a class="smoothscroll" href="#intro" title="">Home</a>
    </li>
    <li>
      <a class="smoothscroll" href="#about" title="">Schedule</a>
    </li>
    <li>
      <a class="smoothscroll" href="#resume" title="">Accomidation</a>
    </li>
    <li>
      <a class="smoothscroll" href="#portfolio" title="">Gallery</a>
    </li>
    <li>
      <a class="smoothscroll" href="#services" title="">Services</a>
    </li>
    <li>
      <a class="smoothscroll" href="#contact" title="">Contact</a>
    </li>
    <li>
      <a href="https://taded.pythonanywhere.com/" target="_blank"
        >Taded Website</a
      >
    </li>
  </ul>
</nav>
